.root {
    --dark: #0d1117;
    --background: #21252c;
    --orange: #e25000;   
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    color: #ffff; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; 
}

h1 {
    text-transform: uppercase;
    color: #ffff;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    margin-right: 300px;
}

hr {
    height: 2px;
    border: none;
    background-color: #495059;
    margin: 100px 0px 100px 0px;

}

h2, h3 {
    color: #495059; 
    text-transform: uppercase;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* Header and Navigation Bar */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0d1117;
    line-height: 22px;
}

h1::first-line {
    text-transform: uppercase;
    color: #ffff;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.logo {
    height: 7%;
    width: 7%;
    cursor: pointer;
}

.logo:hover {
    opacity: 50%;
    transition: all 0.3s ease 0s;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    text-transform: uppercase;
    display: inline-block;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 0px 0px 0px 150px;
}

.nav-links li a {
    text-decoration: none;
}

.nav-links li a:hover {
    color: #e25000;
    transition: all 0.3s ease 0s;
}

a:visited {
    color: #495059;
}

/* Hero */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px;
    margin: 275px 100px 275px 100px;
    line-height: 22px;
}

.hero img {
    width: 225px;
    height: 225px;
    border-radius: 100%;
}

.hero img:hover {
    opacity: 80%;
    transition: all 0.3s ease 0s;
}

.hero p {
    padding: 22px;
}

body {
    background-color: #21252c;
}


/* Main */
 main h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
 }

 main h3 {
    color: #ffff;
    padding-top: 0px;
 }

 .main p {
    padding: 0px 150px 0px 150px;
 }

 .about-null {
    background-color: #0d1117;
    width: 700px;
    height: 350px;
 }

 .about-box {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0px 10px 0px;
 } 

 /* Work Section */

 .work-examples {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
 }

 .work-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
 }

 .work-null {
    background-color: #0d1117;
    width: 350px;
    height: 350px;
 }

 .work-null:hover {
    opacity: 50%;
    transition: all 0.3s ease 0s;
    cursor: pointer;
 }

 .main h3 {
    text-transform: uppercase;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
    padding: 25px;
 }

 .main h3::first-line {
    text-transform: uppercase;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 700;
    font-style: normal;
 }

/* End of Work Section */

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d1117;
}

footer p {
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    line-height: 18px;
}

footer p::first-line {
    text-transform: uppercase;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* End of Footer Section */






