.root {
    --dark: #0d1117;
    --background: #161b22;
    --orange: #e25000;   
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    color: #ffff; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

hr {
    width: 100%;
    height: 2px;
    border: none;
    background-color: #495059;
    margin: 10% 0% 10% 0%;

}

h2, h3 {
    color: #495059; 
    text-transform: uppercase;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

/* Header and Navigation Bar */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 5%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0d1117;
    line-height: 22px;
}

.logo {
    width: 100px;
    cursor: pointer;
}

.logo:hover {
    opacity: 50%;
    transition: all 0.3s ease 0s;
}

h1 {
    text-transform: uppercase;
    color: #ffff;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}

h1::first-line {
    text-transform: uppercase;
    color: #ffff;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    text-transform: uppercase;
    display: inline-block;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 0px 0px 0px 150px;
}

.nav-links li a {
    text-decoration: none;
    color: #495059;
}

.nav-links li a:hover {
    color: #ffffff;
    transition: all 0.3s ease 0s;
}

a:visited {
    color: #495059;
}
/* End of Header and Navigation Bar */

/* Hero */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30% 0% 20% 0%;
}

.hero p {
    width: 50%;
}

.hero img {
    width: 20%;
    min-width: 100px;
    border-radius: 100%;
    margin: 0% 4% 0% 0%;

}

.hero img:hover {
    opacity: 50%;
    transition: all 0.3s ease 0s; 
}

body {
    background-color: #161b22;
}
/* End of Hero */

/* Main */
.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 0% 20% 0% 20%;
}

.main-container h2 {
    display: flex;
    justify-content: start;
    margin: 0% 0% 2% 0%;
}

.main-container h3 {
    color: #ffff;
}

.about-images {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.about-images img {
    max-width: 100%;
    margin: 2% 0% 2% 0%;

}
/* End of Main */

/* Work Section */
.work-hero-img img {
    width: 100%;
}

.work-hero-img img:hover {
    opacity: 50%;
    transition: all 0.3s ease 0s;
}

.work-examples {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.work-box img {
    max-width: 100%;
    margin: 10% 0% 0% 0%;
}

.work-box img:hover {
    opacity: 50%;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.main-container h3 {
    text-transform: uppercase;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
    margin: 1% 0% 0% 0%;
}

.main-container h3::first-line {
    text-transform: uppercase;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 700;
    font-style: normal;
}
/* End of Work Section */

/* Contact */
.contact-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact p {
    text-transform: uppercase;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#contact span {
    text-transform: none;
}

.social-links img {
    width: 40px;
    margin: 0px 5px 0px 5px;
}

.social-links img:hover {
    opacity: 50%;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
/* End of Contact Section */

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d1117;
    padding: 3% 0% 3% 0%;
    margin: 6% 0% 0% 0%;
}

footer p {
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    line-height: 18px;
}

footer p::first-line {
    text-transform: uppercase;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 700;
    font-style: normal;
}
/* End of Footer Section */

/* Mobile Responsive (at 710px) */
@media screen and (max-width: 710px) {

    .nav-links li {
        padding: 0px 0px 0px 50px;
        display: block;
    }

    .main-container {
        padding: 5%;
    }

    .main-container h2 {
        justify-content: center;
    }

    .work-hero, .work-examples {
        flex-direction: column;
    }

    .contact-content {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .social-links img {
        width: 40px;
        margin: 0px 10px 0px 10px;
    }

    #follow {
        margin: 10%;
    }

    footer {
        margin: 0% 0% 0% 0%;
    }
}